<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.jshop.repository.UserInfoRepository">
	<select id="login" parameterType="String" resultType="com.care.project.dto.MemberDTO">
		SELECT * FROM project_register WHERE id=#{id}
	</select>

	<select id="test"  resultType="com.care.project.dto.MemberDTO">
		SELECT * FROM project_register WHERE 1 = 1
	</select>
</mapper>
















